/*
  app.css

  node-chat core styles

  Juan Carlos Espinosa Ceniceros
  Project: node-chat
  jcespinosa/jceceniceros 2015
*/

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700);

/*
 ==================================================
 STYLES FOR HTML TAGS
 ==================================================
*/

* {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

p {
  margin-bottom: 0px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/*
 ==================================================
 GLOBAL CLASSES
 ==================================================
*/

.centered {
  text-align: center;
  vertical-align: middle;
}

/*
 ==================================================
 SPECIFIC CLASSES
 ==================================================
*/

/*
 ==================================================
 SPECIFIC ID's
 ==================================================
*/

/*
==================================================
 MEDIA rules
==================================================
*/
