
    <!-- jQuery core -->
    <script src="/scripts/vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap core JavaScript -->
    <script src="/scripts/vendor/bootstrap/bootstrap.min.js"></script>

    <!-- Socket.io client -->
    <script src="/scripts/vendor/socket-io/socket.io.js"></script>

    <!-- Toastr -->
    <script src="/scripts/vendor/toastr/toastr.min.js"></script>

    <!-- UI logic JavaScript -->
    <script src="/scripts/ui.js"></script>
    <!-- Socket events JavaScript -->
    <script src="/scripts/socket.js"></script>
    <!-- App main JavaScript -->
    <script src="/scripts/app.js"></script>
  </body>
</html>
